# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
.env.*
*.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Custom folders
hotmodels/
hot mappings/
portable game notations/
existing models/
